<h1>NEW BOARD~!</h1>

<form action="boardNew_submit" method="post" accept-charset="utf-8">
  <div class="input-group">
    <span class='input-group-addon'>Title:</span>
    <input type="text" class="form-control" placeholder="Board Title" id="boardData">
    <span class='input-group-btn'>
      <button class='btn btn-default' type='button' id='submit-board'>Make Board</button>
    </span>
  </div>
</form>


