<div class='row'>
<h4>NEW LIST!</h4>

<form action="listNew_submit" method="post" accept-charset="utf-8" class='new-list-form'>
  <div class="input-group">
    <span class='input-group-addon'>Title:</span>
    <input type="text" class="form-control list-title" placeholder="List Title">
    <span class='input-group-btn'>
      <button class='btn btn-default new-list-btn' type='button'>Make List</button>
    </span>
  </div>
</form>
</div>