<h1>NEW LIST!</h1>

<form action="listNew_submit" method="post" accept-charset="utf-8">
  <div class="input-group">
    <span class='input-group-addon'>Title:</span>
    <input type="text" class="form-control" placeholder="Board Title" id="listData">
    <span class='input-group-btn'>
      <button class='btn btn-default' type='button' id='submit-list'>Make List</button>
    </span>
  </div>
</form>


